<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsg4WFTplIJ9_IkiO5ZfIIdC4co-Gbcz4</string>
	<key>GCM_SENDER_ID</key>
	<string>1053937507151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whysApp.whyAppen</string>
	<key>PROJECT_ID</key>
	<string>databas-be99f</string>
	<key>STORAGE_BUCKET</key>
	<string>databas-be99f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053937507151:ios:0e3720acc65f1ea9c0c33a</string>
	<key>DATABASE_URL</key>
	<string>https://databas-be99f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>